<%= form_for :task, url: tasks_path, method: "GET" do |f| %>
  <div class="input-group md-form form-sm form-2 pl-0">
    <%= f.text_field :free_text, class: "form-control my-0 py-1 red-border h-65px", placeholder: "検索" %>
    <div class="input-group-append">
      <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search"></i></span>
    </div>
  </div>
  <!----------------------------details search------------------------------>
  <div class="details-search row m-3">
    <%= f.select :field, options_for_select([["分野", "分野"], ["IT系", "IT系"], ["通訳・翻訳", "通訳・翻訳"], ["マーケティング", "マーケティング"], ["教育", "教育"]],
                                            selected: params[:field]), {}, {class: "custom-select col-md"} %>
    <%= f.select :area, options_for_select([["エリア", "エリア"], ["北海道", "北海道"], ["東北", "東北"], ["関東", "関東"], ["中部", "中部"], ["近畿", "近畿"],
                                            ["中国", "中国"], ["四国", "四国"], ["九州", "九州"], ["沖縄", "沖縄"], ["その他", "その他"]],
                                           selected: params[:area]), {}, {class: "custom-select ml-2 col-md"} %>
    <%= f.select :salary, options_for_select([["賃金", "賃金"], ["5000円以下", "5000円以下"], ["10000円以下", "10000円以下"], ["50000円以下", "50000円以下"]],
                                             selected: params[:salary]), {}, {class: "custom-select ml-2 col-md"} %>
    <%= f.select :registration_deadline, options_for_select([["申し込み期日", "申し込み期日"], ["今週中", "今週中"], ["１週間後", "１週間後"], ["２週間後", "２週間後"], ["３週間後", "３週間後"], ["１ヶ月後", "１ヶ月後"],],
                                                            selected: params[:registration_deadline]), {}, {class: "custom-select ml-2 col-md"} %>
    <div class="custom-control custom-checkbox col-md-3 ml-2 checkbox-veteran">
      <div class="mt-1 text-center">
        <%= f.check_box :veteran, {class: "custom-control-input"}, true, false %>
        <%= f.label :veteran, "未経験可能", class: "custom-control-label" %> <br/>
      </div>
    </div>
  </div>
<% end %>
